<div class="card mb-3">
  <div class="row g-0 align-items-center">
    <div class="col-sm-4">
      <img class="card-img rounded p-2" src="{{ event.image }}" alt="{{ event.name }}">
    </div>
    <div class="col-sm-8">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h3 class="card-title mb-4">{{ event.name }}</h3>
            <h5 class="card-text text-secondary fw-bold mb-1">
              <i class="bi bi-geo-alt"></i> {{ event.venue_name }}
            </h5>
            <p class="card-text text-secondary mb-1">{{ event.venue_address }}</p>
            <p class="card-text text-secondary mb-1">{{ event.venue_city }}, {{ event.venue_state }}</p>
          </div>
          <div class="col-4 text-end">
            <p class="card-text text-primary-emphasis mb-1 fw-bold">{{ event.formatted_date }}</p>
            <p class="card-text text-primary-emphasis mb-3">{{ event.formatted_time }}</p>
            <a href="{{ event.url }}" target="_blank" class="btn btn-outline-primary">
              <i class="bi bi-ticket-perforated"></i> Find tickets
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
